* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.sticky {
    position: sticky;
    top: 0;
}
.site-title {
    font-size: 2rem;
}

.image-link{
    color: #333333;
    font-size: 8pt;
}

.divider{
    margin-top: 40px;
    margin-bottom: 40px;
    height: 3px;
    background-color: #333333;
    width: 100%;
}

.h1{
    font-size: 60px;
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-color:#333333;
}

.page{
    background-color: #F2E8CF;
    display: flex;
    flex-direction:column;
    width: 100%;
}